<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwj.persistence.dao.FriendMapper">
  <resultMap id="BaseResultMap" type="com.lwj.persistence.pojo.FriendKey">
    <id column="uid1" jdbcType="INTEGER" property="uid1" />
    <id column="uid2" jdbcType="INTEGER" property="uid2" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.lwj.persistence.pojo.FriendKey">
    delete from friend
    where uid1 = #{uid1,jdbcType=INTEGER}
      and uid2 = #{uid2,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lwj.persistence.pojo.FriendKey">
    insert into friend (uid1, uid2)
    values (#{uid1,jdbcType=INTEGER}, #{uid2,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lwj.persistence.pojo.FriendKey">
    insert into friend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid1 != null">
        uid1,
      </if>
      <if test="uid2 != null">
        uid2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid1 != null">
        #{uid1,jdbcType=INTEGER},
      </if>
      <if test="uid2 != null">
        #{uid2,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>